Repository danieleschmidt/AI-Scientist-v2, changes with the owners that .github/CODEOWNERS names for each.
All owners: @terragon-labs/core-maintainers, @terragon-labs/ai-researchers, @terragon-labs/security-team, @terragon-labs/devops-team, @terragon-labs/sre-team, @terragon-labs/qa-team, @terragon-labs/tech-writers, @terragon-labs/product-team, @terragon-labs/algorithms-team, @terragon-labs/api-team, @terragon-labs/backend-team, @terragon-labs/performance-team, @terragon-labs/legal-team, @terragon-labs/community-team

feat: advanced SDLC optimization with comprehensive automation and governance
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  docs/BRANCH_PROTECTION_GUIDE.md
  docs/GOVERNANCE.md
  docs/workflows/WORKFLOW_SETUP_GUIDE.md
  docs/workflows/github-actions/ci.yml
  docs/workflows/github-actions/release.yml
  docs/workflows/github-actions/security.yml
Owners: @terragon-labs/devops-team, @terragon-labs/core-maintainers, @terragon-labs/tech-writers

docs: enhance project foundation with comprehensive architecture and ADR template
  ARCHITECTURE.md
  docs/adr/ADR-TEMPLATE.md
Owners: @terragon-labs/tech-writers, @terragon-labs/core-maintainers

feat: enhance development environment with comprehensive tooling
  .editorconfig
  .pre-commit-config.yaml
Owners: @terragon-labs/core-maintainers, @terragon-labs/devops-team

test: enhance testing infrastructure with comprehensive test framework
  tests/README.md
  tests/fixtures/sample_data.py
  tests/security/test_comprehensive_security.py
Owners: @terragon-labs/qa-team, @terragon-labs/core-maintainers

docs: add comprehensive workflow documentation and project metrics
  .github/project-metrics.json
  docs/SETUP_REQUIRED.md
Owners: @terragon-labs/core-maintainers, @terragon-labs/tech-writers

feat: complete SDLC implementation with comprehensive enhancements
  SDLC_IMPLEMENTATION_SUMMARY.md
Owners: @terragon-labs/tech-writers, @terragon-labs/core-maintainers

feat: complete comprehensive SDLC implementation with all checkpoints
  .github/project-metrics.json
  Dockerfile
  SDLC_IMPLEMENTATION_SUMMARY.md
  monitoring/health_monitor.py
  scripts/automated_integration.py
  scripts/dependency_update.py
  scripts/health_check.py
  scripts/repository_health_monitor.py
Owners: @terragon-labs/core-maintainers, @terragon-labs/devops-team, @terragon-labs/tech-writers, @terragon-labs/sre-team

feat(cli): add enterprise-grade CLI for AI Scientist v2 workflows
  ai_scientist/cli.py
  ai_scientist/llm.py
  ai_scientist/utils/circuit_breaker.py
  ai_scientist/utils/config.py
  ai_scientist/utils/config_validation.py
  ai_scientist/utils/cost_optimization.py
  ai_scientist/utils/distributed_cache.py
  k8s/README.md
  k8s/configmap.yaml
  k8s/deployment.yaml
  k8s/hpa.yaml
  k8s/ingress.yaml
  k8s/kustomization.yaml
  k8s/monitoring.yaml
  k8s/namespace.yaml
  k8s/patches/production-resources.yaml
  k8s/pvc.yaml
  k8s/rbac.yaml
  k8s/secrets.yaml
  k8s/service.yaml
Owners: @terragon-labs/ai-researchers, @terragon-labs/core-maintainers, @terragon-labs/devops-team

feat(quantum_task_planner): add quantum-inspired task planning system with monitoring and optimization
  .coveragerc
  SECURITY_REPORT.md
  bandit_report.json
  pyproject.toml
  quantum_task_planner/__init__.py
  quantum_task_planner/core/__init__.py
  quantum_task_planner/core/planner.py
  quantum_task_planner/core/quantum_optimizer.py
  quantum_task_planner/core/task_scheduler.py
  quantum_task_planner/monitoring/__init__.py
  quantum_task_planner/monitoring/health_monitor.py
  quantum_task_planner/monitoring/performance_monitor.py
  quantum_task_planner/monitoring/quantum_monitor.py
  quantum_task_planner/optimization/__init__.py
  quantum_task_planner/optimization/cache_manager.py
  quantum_task_planner/optimization/load_balancer.py
  quantum_task_planner/optimization/parallel_executor.py
  quantum_task_planner/optimization/resource_pool.py
  quantum_task_planner/utils/__init__.py
  quantum_task_planner/utils/metrics.py
  quantum_task_planner/utils/quantum_math.py
  quantum_task_planner/validation/__init__.py
  quantum_task_planner/validation/error_handling.py
  quantum_task_planner/validation/validators.py
  safety_report.json
  tests/quantum_task_planner/__init__.py
  tests/quantum_task_planner/test_core.py
  tests/quantum_task_planner/test_integration.py
  tests/quantum_task_planner/test_monitoring.py
  tests/quantum_task_planner/test_optimization.py
  tests/quantum_task_planner/test_validation.py
Owners: @terragon-labs/core-maintainers, @terragon-labs/tech-writers, @terragon-labs/qa-team

feat(cli): add enterprise-grade CLI with distributed computing and optimization
  TERRAGON_SDLC_IMPLEMENTATION_REPORT.md
  ai_scientist/cli.py
  ai_scientist/cli_enterprise.py
  ai_scientist/cli_robust.py
  ai_scientist/cli_simple.py
  ai_scientist/monitoring/enhanced_monitoring.py
  ai_scientist/optimization/__init__.py
  ai_scientist/optimization/performance_optimizer.py
  ai_scientist/scaling/__init__.py
  ai_scientist/scaling/distributed_executor.py
  ai_scientist/utils/enhanced_validation.py
  ai_scientist/utils/error_recovery.py
  demo_research_topic.md
  test_imports.py
  tests/test_enterprise_integration.py
  tests/test_enterprise_simple.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-maintainers, @terragon-labs/ai-researchers, @terragon-labs/qa-team

feat(ai_scientist): implement autonomous SDLC with core AI Scientist modules
  AUTONOMOUS_SDLC_IMPLEMENTATION_REPORT.md
  ai_scientist/adaptive_experiment_manager.py
  ai_scientist/advanced_monitoring.py
  ai_scientist/distributed_computing_engine.py
  ai_scientist/intelligent_hypothesis_generator.py
  ai_scientist/robust_error_handling.py
  ai_scientist/security_framework.py
  ai_scientist/unified_research_orchestrator.py
  test_ai_scientist_integration.py
  test_ai_scientist_minimal.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-maintainers, @terragon-labs/ai-researchers

feat(autonomous_sdlc): add Generation 1 Autonomous SDLC Orchestrator and research modules
  ai_scientist/autonomous_sdlc_orchestrator.py
  ai_scientist/research/RESEARCH_PUBLICATION.md
  ai_scientist/research/__init__.py
  ai_scientist/research/adaptive_tree_search.py
  ai_scientist/research/multi_objective_orchestration.py
  ai_scientist/research/predictive_resource_manager.py
  ai_scientist/research/research_validation_suite.py
  ai_scientist/robust_autonomous_orchestrator.py
  ai_scientist/scalable_autonomous_orchestrator.py
  quality_gate_report.json
  run_quality_gates.py
  tests/test_enterprise_integration.py
Owners: @terragon-labs/ai-researchers, @terragon-labs/core-maintainers, @terragon-labs/qa-team

feat(autonomous_sdlc): complete TERRAGON SDLC MASTER v4.0 autonomous implementation
  AUTONOMOUS_SDLC_DEPLOYMENT_GUIDE.md
  TERRAGON_AUTONOMOUS_IMPLEMENTATION_SUMMARY.md
  ai_scientist/optimization/quantum_performance_optimizer.py
  ai_scientist/security/comprehensive_security.py
  ai_scientist/utils/robust_error_handling.py
  autonomous_execution_engine.py
  autonomous_execution_simplified.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-maintainers, @terragon-labs/ai-researchers

feat(research): add complete autonomous research framework with deployment guides
  TERRAGON_AUTONOMOUS_DEPLOYMENT_GUIDE.md
  TERRAGON_IMPLEMENTATION_SUMMARY.md
  ai_scientist/research/autonomous_experimentation_engine.py
  ai_scientist/research/novel_algorithm_discovery.py
  ai_scientist/research/research_validation_suite.py
  ai_scientist/robust_research_orchestrator.py
  ai_scientist/scalable_research_orchestrator.py
  ai_scientist/unified_research_framework.py
  docker-compose.prod.yml
  security_scan_results.json
  terragon_production.yaml
Owners: @terragon-labs/tech-writers, @terragon-labs/core-maintainers, @terragon-labs/ai-researchers, @terragon-labs/devops-team

feat(orchestrator): add advanced autonomous SDLC orchestrators for dynamic, global, and research modes
  ai_scientist/dynamic_checkpoint_orchestrator.py
  ai_scientist/global_compliance_orchestrator.py
  ai_scientist/research_orchestrator.py
  ai_scientist/robust_autonomous_orchestrator.py
  ai_scientist/scalable_autonomous_orchestrator.py
  tests/test_autonomous_sdlc_generations.py
  tests/test_basic_autonomous_sdlc.py
Owners: @terragon-labs/ai-researchers, @terragon-labs/core-maintainers, @terragon-labs/qa-team

feat(autonomous-sdlc): Implement complete autonomous SDLC orchestration system
  ai_scientist/compliance/global_compliance_framework.py
  ai_scientist/research/research_validation_suite.py
  ai_scientist/scaling/autonomous_performance_optimizer.py
  ai_scientist/utils/robust_autonomous_orchestrator.py
  ai_scientist/validation/autonomous_quality_gates.py
Owners: @terragon-labs/ai-researchers, @terragon-labs/core-maintainers

feat(autonomous-sdlc): add complete Autonomous SDLC system with multi-generation engines
  AUTONOMOUS_SDLC_COMPLETE_GUIDE.md
  DEPLOYMENT_GUIDE.md
  ai_scientist/global_autonomous_system.py
  ai_scientist/robust_execution_engine.py
  ai_scientist/scalable_execution_engine.py
  ai_scientist/unified_autonomous_executor.py
  autonomous_cli.py
  autonomous_quality_validator.py
  quality_validation_results.json
  robust_cli.py
  robust_research_output/experiment_plan.json
  robust_research_output/experiment_results.json
  robust_research_output/research_ideas.json
  robust_research_output/research_report.md
  robust_research_output/research_topic.md
  robust_research_output/validation_results.json
  scalable_cli.py
  scalable_research_output/experiment_plan.json
  scalable_research_output/research_ideas.json
  scalable_research_output/research_topic.md
  scalable_research_output/scalable_research_report.md
  scalable_research_output/validation_results.json
  test_output/execution_results.json
  test_output/experiment_plan.json
  test_output/experiment_results.json
  test_output/research_ideas.json
  test_output/research_report.md
  test_output/research_topic.md
  test_output/validation_results.json
Owners: @terragon-labs/tech-writers, @terragon-labs/core-maintainers, @terragon-labs/ai-researchers

feat(autonomous_sdlc): add complete autonomous SDLC with quantum optimization
  TERRAGON_AUTONOMOUS_SDLC_COMPLETE.md
  ai_scientist/global_autonomous_system.py
  ai_scientist/quantum_autonomous_executor.py
  ai_scientist/quantum_quality_gates.py
  ai_scientist/robust_quantum_orchestrator.py
  ai_scientist/scalable_quantum_optimizer.py
  global_research_output/research_report_de.md
  performance_baselines.json
  quality_gate_report_1755466864.json
  quantum_execution_results.json
  robust_execution_results.json
  scalable_execution_results.json
Owners: @terragon-labs/tech-writers, @terragon-labs/core-maintainers, @terragon-labs/ai-researchers

feat(autonomous-sdlc): complete autonomous SDLC implementation for AI Scientist v2
  AUTONOMOUS_SDLC_COMPLETE_IMPLEMENTATION_REPORT.md
  ai_scientist/simplified_autonomous_cli.py
  comprehensive_quality_validator.py
  production_deployment/deploy_1755607464/README.md
  production_deployment/deploy_1755607464/compliance/CCPA_Compliance.md
  production_deployment/deploy_1755607464/compliance/GDPR_Compliance.md
  production_deployment/deploy_1755607464/deployment_summary.json
  production_deployment/deploy_1755607464/docker/Dockerfile
  production_deployment/deploy_1755607464/i18n/de.json
  production_deployment/deploy_1755607464/i18n/en.json
  production_deployment/deploy_1755607464/i18n/es.json
  production_deployment/deploy_1755607464/i18n/fr.json
  production_deployment/deploy_1755607464/i18n/ja.json
  production_deployment/deploy_1755607464/i18n/zh.json
  production_deployment_orchestrator.py
  production_deployment_orchestrator_fixed.py
  quality_validation_output/quality_1755607171/quality_validation_results_quality_1755607171.json
  robust_research_executor.py
  robust_research_output/session_1755606844_c73a8a70070433e3/backup_results_session_1755606844_c73a8a70070433e3.json
  robust_research_output/session_1755606844_c73a8a70070433e3/checkpoints/checkpoint_error_1755606844.json
  robust_research_output/session_1755606844_c73a8a70070433e3/checkpoints/checkpoint_start_1755606844.json
  robust_research_output/session_1755606844_c73a8a70070433e3/research_results_session_1755606844_c73a8a70070433e3.json
  robust_research_output/session_1755606851_17a47ba5070c1405/backup_results_session_1755606851_17a47ba5070c1405.json
  robust_research_output/session_1755606851_17a47ba5070c1405/checkpoints/checkpoint_completion_1755606851.json
  robust_research_output/session_1755606851_17a47ba5070c1405/checkpoints/checkpoint_start_1755606851.json
  robust_research_output/session_1755606851_17a47ba5070c1405/research_results_session_1755606851_17a47ba5070c1405.json
  scalable_research_executor.py
  scalable_research_output/scalable_1755606998_1696/scalable_results_scalable_1755606998_1696.json
  simple_research_executor.py
  simple_research_output/research_results_20250819_123149.json
  simple_research_output/research_results_20250819_123932.json
  simple_research_output/research_results_20250819_123934.json
  simple_research_output/research_results_20250819_123936.json
Owners: @terragon-labs/tech-writers, @terragon-labs/core-maintainers, @terragon-labs/ai-researchers

feat(autonomous_sdlc): add complete autonomous SDLC execution with multi-domain research
  TERRAGON_AUTONOMOUS_SDLC_COMPLETE_REPORT.md
  quality_reports/quality_report_20250820_172203.json
  quality_reports/quality_report_20250820_172245.json
  terragon_autonomous_master.py
  terragon_autonomous_output/research_cycle_computer_vision_20250820_171201.json
  terragon_autonomous_output/research_cycle_machine_learning_20250820_171151.json
  terragon_autonomous_output/research_cycle_machine_learning_20250820_171945.json
  terragon_autonomous_output/research_cycle_nlp_20250820_171158.json
  terragon_autonomous_output/research_cycle_quantum_computing_20250820_171154.json
  terragon_autonomous_output/research_suite_20250820_171201.json
  terragon_quality_gates.py
  terragon_robust_orchestrator.py
  terragon_robust_orchestrator_lite.py
  terragon_robust_output/robust_cycle_cycle_1755710139.json
  terragon_robust_output/robust_cycle_cycle_1755710140.json
  terragon_scalable_optimizer.py
  terragon_scalable_output/scalable_suite_scalable_suite_1755710262.json
  terragon_test_suite.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-maintainers

feat(monitoring,optimization,robustness,scaling): add advanced modules for performance, resource management, error handling, fault tolerance, and distributed computing
  ai_scientist/monitoring/advanced_performance_metrics.py
  ai_scientist/optimization/predictive_resource_manager.py
  ai_scientist/optimization/quantum_enhanced_search.py
  ai_scientist/robustness/advanced_error_handling.py
  ai_scientist/robustness/fault_tolerance_system.py
  ai_scientist/scaling/distributed_computing_framework.py
  ai_scientist/security/comprehensive_security_framework.py
Owners: @terragon-labs/ai-researchers, @terragon-labs/core-maintainers

feat(autonomous-research-system): implement complete Terragon Autonomous SDLC with core engines and global features
  AUTONOMOUS_SDLC_COMPLETE_SUMMARY.md
  compliance_report.md
  demo_terragon_research_system.py
  global_features_dashboard.html
  quality_validation_results.json
  terragon_autonomous_research_engine.py
  terragon_global_features.py
  terragon_monitoring_system.py
  terragon_quality_validator.py
  terragon_research_cli.py
  terragon_robust_research_engine.py
  terragon_scalable_research_engine.py
  terragon_security_framework.py
  test_terragon_research_system.py
Owners: @terragon-labs/tech-writers, @terragon-labs/core-maintainers

feat(ai-scientist-v2): implement complete autonomous SDLC with 3-generation progressive enhancement
  ai_scientist/research/autonomous_experimentation_engine.py
  ai_scientist/research/bayesian_optimization_engine.py
  ai_scientist/research/enhanced_statistical_validation.py
  ai_scientist/research/literature_aware_discovery.py
  ai_scientist/research/novel_algorithm_discovery.py
  ai_scientist/robustness/advanced_fault_tolerance.py
  ai_scientist/robustness/comprehensive_error_recovery.py
  ai_scientist/scaling/distributed_research_execution.py
  ai_scientist/scaling/quantum_performance_optimization.py
  quality_validation_comprehensive.py
  quality_validation_results.json
Owners: @terragon-labs/ai-researchers, @terragon-labs/core-maintainers

.github/CODEOWNERS:

# CODEOWNERS file for AI Scientist v2
# This file defines code review requirements for different parts of the repository
# See: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global ownership - all files require review from core maintainers
* @terragon-labs/core-maintainers

# Core AI Scientist module - requires AI/ML expertise
/ai_scientist/ @terragon-labs/ai-researchers @terragon-labs/core-maintainers

# Security-critical files require security team review
/security/ @terragon-labs/security-team @terragon-labs/core-maintainers
/.github/workflows/ @terragon-labs/devops-team @terragon-labs/security-team
/scripts/security_scan.py @terragon-labs/security-team
/.pre-commit-config.yaml @terragon-labs/security-team
/pyproject.toml @terragon-labs/core-maintainers @terragon-labs/security-team

# Infrastructure and DevOps
/docker-compose*.yml @terragon-labs/devops-team @terragon-labs/core-maintainers
/Dockerfile* @terragon-labs/devops-team @terragon-labs/core-maintainers
/Makefile @terragon-labs/devops-team @terragon-labs/core-maintainers
/monitoring/ @terragon-labs/devops-team @terragon-labs/sre-team
/observability/ @terragon-labs/devops-team @terragon-labs/sre-team

# Testing infrastructure
/tests/ @terragon-labs/qa-team @terragon-labs/core-maintainers
/pytest.ini @terragon-labs/qa-team @terragon-labs/core-maintainers
/.pre-commit-config.yaml @terragon-labs/qa-team

# Documentation - technical writers and maintainers
/docs/ @terragon-labs/tech-writers @terragon-labs/core-maintainers
/*.md @terragon-labs/tech-writers @terragon-labs/core-maintainers
/README.md @terragon-labs/tech-writers @terragon-labs/core-maintainers @terragon-labs/product-team

# Package and dependency management
/requirements.txt @terragon-labs/core-maintainers @terragon-labs/security-team
/pyproject.toml @terragon-labs/core-maintainers @terragon-labs/security-team
/.github/dependabot.yml @terragon-labs/security-team @terragon-labs/devops-team

# Release and versioning
/CHANGELOG.md @terragon-labs/core-maintainers @terragon-labs/product-team
/scripts/release.py @terragon-labs/core-maintainers @terragon-labs/devops-team

# Tree search algorithms - requires specialized knowledge
/ai_scientist/treesearch/ @terragon-labs/algorithms-team @terragon-labs/ai-researchers

# Templates and examples - product and documentation teams
/templates/ @terragon-labs/tech-writers @terragon-labs/product-team
/ai_scientist/fewshot_examples/ @terragon-labs/ai-researchers @terragon-labs/tech-writers

# Configuration files
*.yaml @terragon-labs/devops-team @terragon-labs/core-maintainers
*.yml @terragon-labs/devops-team @terragon-labs/core-maintainers
*.toml @terragon-labs/core-maintainers

# API and integration files
/ai_scientist/tools/ @terragon-labs/api-team @terragon-labs/ai-researchers
/ai_scientist/backend/ @terragon-labs/backend-team @terragon-labs/ai-researchers

# Performance and monitoring
/scripts/benchmark.py @terragon-labs/performance-team @terragon-labs/core-maintainers
/metrics_reporter.py @terragon-labs/sre-team @terragon-labs/devops-team

# Legal and compliance
/LICENSE @terragon-labs/legal-team @terragon-labs/core-maintainers
/CODE_OF_CONDUCT.md @terragon-labs/community-team @terragon-labs/core-maintainers
/SECURITY.md @terragon-labs/security-team @terragon-labs/community-team
